.header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
}
.logo {
  padding-top: 10px;
  text-align: center;
}
.nav-bar {
  float: right;
  padding: 10px 20px;
}
nav {
  border-radius: 15px;
  background-color: transparent;
}
.nav-wrapper {
  padding: 0 10px;
  opacity: 1;
  display: flex;
}
a {
  color: black !important;
  font-size: 100px;
  font-weight: bold;
}
li {
  justify-content: space-around;
}
a:hover,
a:active {
  color: white !important;
  font-weight: bold;
  border-bottom: 3px solid black;
}
@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-flow: column-reverse;
  }
}
