@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Condensed:wght@300&display=swap");

.home {
  align-items: center;
  width: 100%;
  height: min-content;
  resize: both;
  overflow: auto;
}
.front-page {
  width: 100%;
  background-image: url("../../images/unsplash.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.user-pic{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url("../../images/user.jpg");
    background-size: cover;
}
.user-name {
  margin:0px 200px;
  font-family: "Abril Fatface", cursive;
  font-size: 70px;
  align-items: center;
  text-align: center;

  color: white;
}
.user-name p {
  
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
  text-align: center;
}
.user-name hr{
    margin-top:-5px;
    margin-left: 200px;
    margin-right: 200px;
    border: 3px solid red;
}